@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header{
  display: flex;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  height: 18vh;
  align-items: center;
  justify-content: space-around;

}
.burger_menu {
  display: block;
  cursor: pointer;
  margin-left: 95px;
  width:42px;
  height: 38px;
}
.burger_menu div {
  left: 0px;
  width: 35px;
  height: 5px;
  background-color: rgb(238, 232, 232);
  margin: 6px;
  margin-left: 4px;
  transition: all 0.3s ease-in;
}

.burger_menu:hover * {
  background-color: rgb(0, 0, 0);
}

nav {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin-left: 300px;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  width: 35%;
  /* margin-left: 300px; */
  transition: all 0.3s ease-in;
  list-style: none;
}

.nav_links li{
  margin-left: 50px;
}

.nav_links li:hover * {
  color: rgb(0, 0, 0);
  transition: 0.3s ease;
}

.nav_links a{
  text-decoration: none;
  color: rgb(238, 232, 232);
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 27px;
  transition: all 0.3s ease-in;
}

.nav_links1 {
  display: flex;
  position: absolute;
  left: 0px;
  height: 30vh;
  top: 18vh;
  background-color: rgba(0, 0, 0, 0.65);
  flex-direction: column;
  width: 15%;
  text-align: center;
  transform: translateX(-100%);
  transition: 0.3s ease-in;
  line-height: 2.5;
}
.nav_links1 li {
  flex: 1 1 auto;
}

.nav_links1 li:hover {
  background-color: #2180268e;
  transition: 0.3s ease-in;
}

.nav_links1 li:hover * {
  color: rgb(0, 0, 0);
  transition: 0.3s ease;
}

.nav_links1 a {
  text-decoration: none;
  color: rgb(238, 232, 232);
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 27px;
  transition: all 0.3s ease-in;
}

.nav_active {
  transform: translateX(0%);
}

.nav_deactive {
  transition: 0.3s ease-out;
  opacity: 0;
}

.Logo {
}

.toggle .Line_1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.toggle .Line_2 {
  opacity: 0;
}

.toggle .Line_3 {
  transform: rotate(+45deg) translate(-9px, -6px);
}

body {
  overflow: hidden;
}

.image_container {
  display: flex;
}

.overlay {
  position: absolute;
  left: 450px;
  top: 350px;
  /* background: rgba(0, 0, 0, 0.65); */
  color: rgba(238, 177, 97, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay h1 {
  font-size: 65px;
  letter-spacing: 0px;
  margin: 0 0 5px;
  font-family: "Pacifico", cursive;
  font-style: italic;
}

.overlay h1 .letter {
  display: inline-block;
  line-height: 2em;
}

.overlay p {
  font-size: 45px;
  letter-spacing: 0px;
  margin: 0 0 5px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.overlay p .letterP {
  display: inline-block;
  line-height: 1em;
}

.contact-links{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:13vh;
}

.contact-links li{
  list-style:none;
}

.contact-links li a{

  text-decoration: none;
  font-size: 24px;
  color: #072c24;
  transition: 0.5s;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.media-links {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  display: flex;
}

.media-links li {
  list-style: none;
}

.media-links li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}

.media-links li a .fa {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: 0.5s;
}

.media-links li:nth-child(1) a:hover .fa {
  color: #3b5998;
}

.media-links li:nth-child(2) a:hover .fa {
  color: #00aced;
}
.media-links li:nth-child(3) a:hover .fa {
  color: #007bb6;
}

.media-links li:nth-child(4) a:hover .fa {
  color: #e4405f;
}
