* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
display: flex;
align-items: center;
height: 16.5vh;
background-color: #7d47a8b7;
font-family: Montserrat;
}

.burger_menu div {
  left: 50px;
  width: 35px;
  height: 5px;
  background-color: rgb(238, 232, 232);
  margin: 6px;
  cursor: pointer;
  margin-left: 100px;
  transition: all 0.3s ease;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin-left: 300px;
}

.nav_links li {
  list-style: none;
}

.nav_links li:hover {
  text-shadow: 2px 2px 0.9px #ebb520d7;

}

.nav_links a,
.nav_links1 a {
  text-decoration: none;
  color: rgb(238, 232, 232);
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 27px;
}

.nav_links1 {
  display: flex;
  position: absolute;
  left: 0px;
  height: 30vh;
  top: 16.5vh;
  background-color: #ebb520d7;
  align-items: stretch;
  flex-direction: column;
  width: 15%;
  justify-content: center;
  text-align: center;
  transform: translateX(-100%);
  transition: 0.3s ease-in;
  
}
.nav_links1 li {
  flex: 1 1 auto;
}
.nav_links1 :hover {
  background-color: #2180268e;
}

.nav_active {
  transform: translateX(0%);
}

.nav_deactive {
  transition: 0.3s ease-out;
  opacity: 0;
}

.Logo {
  margin-left: 300px;
  ;
}

.toggle .Line_1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.toggle .Line_2 {
  opacity: 0;
}

.toggle .Line_3 {
  transform: rotate(+45deg) translate(-9px, -6px);
}

body {
  overflow: hidden;

}
