*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: #7d47a8b7;
    font-family: Arial, Helvetica, sans-serif ;
}
 
.nav_links{

    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav_links a{

    
}